@use "../../assets/breakpoints.scss" as mixin;
@import "../../assets//variables.scss";

$border: 2px solid $greyDark;
$borderRadius: .5rem;

.table {
  border-spacing: 0;
  margin: 4rem 0;
  width: 100%;
  table-layout: fixed;

  &_headCell {
    border-bottom: $border;
    border-top: $border;
    &:hover {
      // background-color: $grey;
    }
  }
  &_headCell:first-of-type {
    border-radius: $borderRadius 0 0 0;
    border-left: $border;
  }
  
  &_headCell:last-of-type {
    border-radius: 0 $borderRadius 0 0;
    border-right: $border;
  }
  
  &_row:nth-child(even) {
    background-color: $greyLight;
  }
  
  &_row &_cell:first-of-type {
    border-left: $border;
  }
  
  &_row &_cell:last-of-type {
    border-right: $border;
  }
  
  &_row:last-of-type &_cell {
    border-bottom: $border;
  }
  
  &_row:last-of-type &_cell:first-of-type {
    border-radius: 0 0 0 $borderRadius;
  }
  
  &_row:last-of-type &_cell:last-of-type {
    border-radius: 0 0 $borderRadius 0;
  }

&_cell_data:not(:first-of-type):hover {
      background-color: rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

&_cell {
  width: 2rem !important;
  height: 6rem;
  text-align: center;

  &_time {
    color: #fff;
    margin: 0 .6rem;
    border-radius: .3rem;
    padding: 1rem .2rem;
    }
  }
}

td + td {
  border-left: $border;
}
