$red: #cd4545;


$grey: #f1f1f1;
$greyLight: #f9f9f9;
$greyDark: #e6e6e6;


$blue: #24047F;
$blueLight: #133150;
$blueLightExtra: #1f4d7e;
$tableRed: #ff8080;
$tableBlue: #313091;
$purple: #005C69;

$test: #3F7999;

$green: #3B8A60;
$greenBetter: #0f866c;
$copper: #874A16;
$white: #fff;

$coolBlue2: #3B6A8A;
$purpleLike: #4A3B8A;

$bgWhite: #f9f8f2;