$blue: #24047F;
$blueLight: #133150;
$blueLightExtra: #1f4d7e;
$tableRed: #ff8080;
$tableBlue: #313091;
$purple: #993366;

$green: #3B8A60;
$copper: #874A16;
$white: #fff;

$coolBlue2: #3B6A8A;
$purpleLike: #4A3B8A;