@use '../../index.scss' as mixin;

.nav__logo {
  font-family: "Lora", serif;
  font-size: 3.2rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.header {
  background-color: #18266C;
  color: #fff;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  // align-items: baseline;
  // align-items: center;
}

.nav {
  display: flex;
  max-width: 50%;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  color: #fff;
}

.nav a:focus, .nav a:hover {
  border-color: #fff;
}

.btn {
  background-color: #1f4d7e;
  color: #fff;
  padding: 0.3rem 1.2rem;
  border-radius: 20rem;
  text-decoration: none;
}

.btn:hover,
.brn:focus {
  background-color: #133150;
}

.nav__list {
  display: flex;
}

.nav__elem {
  padding: 0 1rem;
}

.nav__link {
  text-decoration: none;
}

.nav__link:hover,
.nav__link:focus {
  border-bottom: 2px solid black;
}
