@use "../../Assets/breakpoints.scss" as mixin;
@import "../../Assets/variables.scss";

.navLogo {
  @include mixin.sm {
    display: block;
    color: #fff;
    font-family: "Lora", serif;
    font-size: 3.2rem;
    font-weight: 700;
    cursor: pointer;
  }

  @include mixin.md-max {
    display: none;
  }
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 2.4rem;
  height: 6rem;
  background-color: $blue;
  color: #fff;

  @include mixin.sm-max {
    justify-content: right;
  }

  @include mixin.sm {
    padding: 2rem 0;
    justify-content: center;
  }
}

.hamburger {
  position: fixed;
  z-index: 10;
  @include mixin.sm {
    display: none;
  }
}

.nav {
  display: flex;

  @include mixin.sm-max {
    position: fixed;
    width: 80%;
    height: 100vh;
    right: 110%;
    top: 0;
    z-index: 3;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: black;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0 8px 1px rgba(0, 0, 0, 0.3);
    transition: transform 180ms;
  }

  @include mixin.sm {
    max-width: 80%;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    border-left: none;
  }

  @include mixin.lg {
    max-width: 70%;
  }

  &Active {
    transform: translateX(110%);
  }
}

.nav a {
  color: black;
  @include mixin.sm {
    color: #fff;
  }
}

.nav a:focus,
.nav a:hover {
  @include mixin.sm {
    border-color: #fff;
  }
}

.btn {
  background-color: #1f4d7e;
  color: #fff;
  padding: 0.3rem 1.2rem;
  border-radius: 20rem;
  text-decoration: none;
}

.btn:hover,
.brn:focus {
  background-color: #133150;
}

.navList {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 100%;
  color: black;
  padding: 7rem 0;
  @include mixin.sm {
    flex-direction: row;
    width: auto;
    text-align: left;
    padding: 0;
  }
}

.navElem {
  @include mixin.sm-max {
    padding: 3rem 3rem;
    font-size: 2.4rem;
  }

  @include mixin.sm {
    padding: 0 1rem;
  }
}

.navLink {
  text-decoration: none;
}

.navLink:hover,
.navLink:focus {
  border-bottom: 0.2rem solid black;
}
